/* open-sans-regular - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('../fonts/open-sans-v18-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/open-sans-v18-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* open-sans-600 - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local(''),
       url('../fonts/open-sans-v18-latin-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/open-sans-v18-latin-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

body {
  font-size: 1.6em;
  font-family: "Open Sans";
}

a {
  color: #664FFF;
  text-decoration: none;
}
a:hover {
  color: #9282ff;
}

/* reset h1 -> h5, h2 -> h6, everything below is h6 */
h1 { font-size: 1.8rem; line-height: 1.5;  letter-spacing: -.05rem; }
h2 { font-size: 1.5rem; line-height: 1.6;  letter-spacing: 0; }
h3 { font-size: 1.5rem; line-height: 1.6;  letter-spacing: 0; }
h4 { font-size: 1.5rem; line-height: 1.6;  letter-spacing: 0; }
h5 { font-size: 1.5rem; line-height: 1.6;  letter-spacing: 0; }
h6 { font-size: 1.5rem; line-height: 1.6;  letter-spacing: 0; }

/* Larger than phablet */
@media (min-width: 550px) {
  h1 { font-size: 2.4rem; }
  h2 { font-size: 1.5rem; }
  h3 { font-size: 1.5rem; }
  h4 { font-size: 1.5rem; }
  h4 { font-size: 1.5rem; }
  h6 { font-size: 1.5rem; }
}

.hero {
  margin-top: 7%;
}

.archive {
  margin-top: 4em;
}

.page {
  margin-top: 4em;
}

.date {
  font-size: 0.8em;
}

.after-h1 {
  top: -2em;
  position: relative;
}


.footer {
  font-size: 0.85em;
  margin-bottom: 1em;
}

/* code */
code {
  font-family: "Source Code Pro", Consolas, "Ubuntu Mono", Menlo, "DejaVu Sans Mono", monospace, monospace !important;
  background: #F6F8FA;
}
pre {
  overflow: auto;
  width: 100%;
  background: #F6F8FA;
  border: 1px solid #E1E1E1;
  border-radius: 4px;
}
pre > code {
  background: transparent;
  border-style: none;
  margin: 0;
}



/* page layouts  */
h2:before {
  content: "# ";
}

ol, ul {
  padding-left: 1em;
}

li {
  margin-bottom: 0em;
  list-style: disc;
}

ul ul,
ul ol,
ol ol,
ol ul {
  margin: 0rem 0 1.5rem 1.5rem;
}

.zola-anchor {
  margin-left: 2px;
  display: none;
}

h2:hover .zola-anchor {
  display: inline-block;
}

.page {
  max-width: 800px;
}

.page h2 {
  font-weight: bold;
}

p img {
  margin-left: auto;
  margin-right: auto;
  display: block;
  max-width: 100%;
}

/*hack to fix mobile safari horizontal scroll*/
.container {
  overflow-x: clip;
}

